.a-table {
  border: 1px solid $color-light-gray;
  border-collapse: collapse;

  &__header {
    background-color: $color-light-gray;

    > tr > th {
      padding: 10px 16px;
    }
  }

  &__body {
    > tr > td {
      padding: 10px 16px;
      border-bottom: 1px solid $color-light-gray;
    }
  }

}