html,
body {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: $background-light;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  line-height: 1;
}