@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

h1 {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

* {
  font-family: 'Rubik', sans-serif;
  color: $color-black;
}