$color-primary: #E27D60;
$color-secondary: #c7c7c7;
$color-secondary-light: #ebebeb;
$color-black: #4b4b4b;
$color-warning: #ff6565;
$color-success: #67C166;

$background-light: #f6f8f9;

$border-radius: 10px;

$box-shadow-primary: 0 5px 10px -5px;
$box-shadow-primary-hover: 0 9px 12px -5px;