@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

* {
  font-family: 'Rubik', sans-serif;
  color: $color-black;
}